/* RosterList.css */

/* Style for the container div */
.RosterList {
    margin: 20px;
  }
  
  /* Style for the AddItem component */
  .AddItem {
    margin-bottom: 10px;
  }
  
  /* Style for the unordered list */
  .RosterList ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style for each list item */
  .RosterList li {
    background-color: #fde8ae;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  /* Hover effect for each list item */
  .RosterList li:hover {
    background-color: #b0fc9a;
    cursor: pointer;
  }
  